# miscellaneous
.cache/
assets/profilePicV1.2.PNG
easyPyEngine.egg-info/
.DS_Store

# Python
requirements.txt
setup_old.py
__pycache__/
.venv/

# github
.github/workflows/build.yml

# build
dist/
/build/*
dist_bak/

# CMake build directories
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.cmake.user 
/*.cbp
/*.ninja
/*.sln
/*.vcxproj*
/*.xcodeproj
*.dir

# Executables and binaries
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Temporary files
*.log
*.obj
*.o
*.a
*.lib
*.class

# IDE-specific files
.vscode/
.idea/
*.swp
