
.cache/
assets/profilePicV1.2.PNG
.venv/
easyPyEngine.egg-info/

# CMake build directories
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.cmake.user
/*.cbp
/*.ninja
/*.sln
/*.vcxproj*
/*.xcodeproj
*.dir

# Executables and binaries
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Temporary files
*.log
*.obj
*.o
*.a
*.lib
*.class

# IDE-specific files
.vscode/
.idea/
*.swp
