name: Build Wheels
jobs:
  build_wheels:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build wheels
        uses: pypa/cibuildwheel@v2
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
